<template>
  <header-block></header-block>

  <router-view v-slot="{
               Component}">
    <transition name="fade"
                mode="out-in">
      <component :is="Component"></component>
    </transition>
  </router-view>
  <player></player>
  <auth-modal></auth-modal>
</template>

<script>
import HeaderBlock from './components/Header.vue';
import AuthModal from './components/Auth.vue';
import player from './components/Player.vue';

export default {
    name: 'App',
    components: { HeaderBlock, AuthModal, player },
    setup() {},
    created() {
        this.$store.dispatch('init_login');
    },
};</script>
<style>
.fade-enter-from {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.5s linear;
}

.fade-leave-to {
  transition: all 0.5s linear;
  opacity: 0;
}
</style>